<!DOCTYPE html>
<html>
  <head>
    <title>DBW <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class ="container">
      <form action="" method="post">
        <label for="inputDB">input :</label>
        <input type="text" id="inputDB" name="inputDB" value=""><br><br> 
        <input type="submit" value="Submit" class="btn btn-primary">
        <br><br>
      </form>
    </div>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= db_name %></p>

    <h1> <center> 
      <p>AGE : <%= db_age %></p> 
    </center> </h1>
      
    </body>
  </html>
