<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include header %>

    <div class ="container">

      <h1>Title : <%= title %></h1>
      <h1>name : <%= name  %></h1>
      <h1>id : <%= id %></h1>
      <h1>Address : <%= Address %></h1>

      <img src= "<%= Picture  %>"   alt="logo" style="width:55px;" >

      <center><a href="/"> HOME </a></p></center>
  </body>
</html>
